<!--<!DOCTYPE html>
<html>
<head>
    Queremos mostrar titulo pero si no viene en el render, mostrar uno por defecto
    {% if title %}
        <title>Flask Blog  - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
    Bucle for utilizando el parámetro "posts" que se manda en el render
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <p>By {{ post.author }} on  {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
</body>
</html>
-->

<!-- PARA CARGAR LOS DATOS COMUNES DEL HTML que se encuentra en layout.html hacemos lo siguiente-->
{% extends "layout.html" %}
{% block content %}
     <!-- Bucle for utilizando el parámetro "posts" que se manda en el render-->
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}